
[Unit]
Description=Fluentd Destination for RabbitMQ Docker Logs
After=etcd-member.service docker.socket
Requires=docker.socket etcd-member.service

[Service]
ExecStart=/usr/bin/docker run \
    --detach                  \
    --name fluentd.logs       \
    --network host            \
    --publish 24224:24224     \
    --env FLUENTD_CONF=fluentd-logs.conf \
    devops4me/fluentd

[Install]
WantedBy=multi-user.target
