
[Unit]
Description=Fluentd Destination for RabbitMQ Docker Logs
After=etcd-member.service
Requires=etcd-member.service

[Service]
ExecStart=/usr/bin/docker run                           \
    --detach                                            \
    --name fluentd-logs                                 \
    --network host            \
    --publish 24224:24224                               \
    --env FLUENTD_CONF=fluentd-elasticsearch-s3.conf    \
    --env ELASTICSEARCH_HOSTNAME=${ elasticsearch_url } \
    --env ELASTICSEARCH_PORT=443                        \
    --env ELASTICSEARCH_SCHEME=https                    \
    --env S3_BUCKET_NAME=${ s3_logs_bucket_name }       \
    --env S3_BUCKET_REGION=${ s3_bucket_region }        \
    devops4me/fluentd

[Install]
WantedBy=multi-user.target
