
[Unit]
Description=RabbitMQ Node with ETCD Peer Discovery
After=fluentd.service
Requires=fluentd.service

[Service]
ExecStart=/usr/bin/docker run \
    --detach                  \
    --name rabbitmq           \
    --network host            \
    --log-driver fluentd      \
    --log-opt fluentd-address=fluentd-logs:24224      \
    --env RABBITMQ_ERLANG_COOKIE="${ erlang_cookie }" \
    --env RABBITMQ_DEFAULT_USER="${ rbmq_username }"  \
    --env RABBITMQ_DEFAULT_PASS="${ rbmq_password }"  \
    devops4me/rabbitmq-3.7

[Install]
WantedBy=multi-user.target
